/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: rgb(248, 248, 248);
  font-family: 'Roboto', sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */

h1 {
  font-weight: 900;
  font-size: 52px;
}

h2 {
  font-weight: 700;
  font-size: 38px;
}

h3 {
  font-weight: 600;
  font-size: 30px;
}

h4 {
  font-weight: 600;
  font-size: 24px;
}

.navbar-brand {
  padding: 8px 0px;
  margin-right: 15px;
  margin-left: 15px;
}

.featured-languages {
  margin-left: 1em;
  float: right;
}

.featured-languages img {
  max-height: 50px;
  max-width: 50px;
  margin: 0.5em;
}

.welcome {
}

.quote {
  opacity: 0.80;
  max-width: 80%;
}

.content {
  font-size: 20px;
}

.post-title, .post-subtitle, .post-date {
  margin-top: 0;
  margin-bottom: 5px;
}

.post-title {
  font-size: 60px;
}

.post-list-title {
  font-size: 16pt;
  margin-top: 10px;
  margin-bottom: 0;
}

.post-subtitle {
  font-size: 32px;
  font-weight: 500;
  opacity: 0.70;
}

.post-list-date, .post-date {
  opacity: 0.70;
}

.post-date {
  margin-bottom: 0;
  font-weight: 500;
}

.post-list-date {
  font-size: 70%;
}

.cross-posted-to-medium {
  float: right;
  display: none;
  margin-top: 10px;
  margin-right: 10px;
}

.cross-posted-to-medium p {
  margin: 0;
}

ul.posts {
  padding-left: 0;
}

.tags {
  float: right;
  font-size: 65%;
  opacity: 0.60;
}

.spacer {
  margin-top: 10em;
}

.sidebar {
  opacity: 0.60;
}

.container {
  max-width: 1100px;
}

.post-footer {
  margin-bottom: 2em;
}

.post-footer-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.clear {
  margin: 0;
  padding: 0;
  clear: both;
}

.footer .container {
  margin-left: auto;
  margin-right: auto;
}

.footer .text-muted {
  margin-top: 10px;
}

.header-image-bg {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 5px;
}

.post-content {
  padding-left: 10px;
}

.post-header-with-image {
  position: relative;
  min-height: 100%;
}

.post-header-content {
  padding-left: 10px;
  padding-bottom: 10px;
}

.post-header-with-image-content {
  position: absolute;
  bottom: 0;
  left: 0;
}

.page-header {
  margin-top: 5px;
  padding: 0;
}

.page-header > div {
  padding: 0;
}

.c64 {
  padding: 0.4em;
}

.eqtion {
  margin-left: 5%;
}

.gist article.markdown-body {
  padding: 1em !important;
}

.text-align-right {
  text-align: right;
}
