/*
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

html {
    line-height: 1
}

ol, ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}

q, blockquote {
    quotes: none
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none
}

a img {
    border: none
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block
}

.icon-sprite, .icon-facebook, .facebook-share:before, .icon-github, .sidebar .github-follow:before, .icon-googleplus, .googleplus-share:before, .icon-twitter-bird, #tweets .loading:before, .icon-twitter, .twitter-share:before, .sidebar a.twitter-follow-button:before {
    background: url('/images/icon-sdc231d6676.png') no-repeat
}

.icon-facebook, .facebook-share:before {
    background-position: 0 -80px;
    height: 16px;
    width: 12px
}

.icon-github, .sidebar .github-follow:before {
    background-position: 0 -48px;
    height: 16px;
    width: 16px
}

.icon-googleplus, .googleplus-share:before {
    background-position: 0 -64px;
    height: 16px;
    width: 11px
}

.icon-twitter-bird, #tweets .loading:before {
    background-position: 0 0;
    height: 32px;
    width: 32px
}

.icon-twitter, .twitter-share:before, .sidebar a.twitter-follow-button:before {
    background-position: 0 -32px;
    height: 16px;
    width: 14px
}

a {
    color: #1863a1;
    color: #1863a1
}

a:visited {
    color: #751590
}

a:focus {
    color: #0181eb
}

a:hover {
    color: #0181eb
}

a:active {
    color: #01579f
}

.sidebar a {
    color: #466da6
}

.sidebar a:focus {
    color: #63a04a
}

.sidebar a:hover {
    color: #63a04a
}

.sidebar a:active {
    color: #01579f
}

a {
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s
}

html {
    background: #252525 url('/images/line-tile.png?1420306322') top left
}

body > div {
    background: #edeff4 url('/images/noise.png?1420306322') top left;
    border-bottom: 1px solid #bfbfbf
}

body > div > div {
    background: #f8f8f8 url('/images/noise.png?1420306322') top left;
    border-right: 1px solid #dadde3
}

.heading, body > header h1, h1, h2, h3, h4, h5, h6 {
    font-family: "PT Serif", "Georgia", "Helvetica Neue", Arial, sans-serif
}

.sans, body > header h2, article header p.meta, article > footer, #blog-archives a.category, #blog-archives time, .sidebar section, body > footer {
    font-family: "PT Sans", "Helvetica Neue", Arial, sans-serif
}

.serif, body, article a[rel=full-article] {
    font-family: "PT Serif", Georgia, Times, "Times New Roman", serif
}
*/

.mono, pre, code, tt, p code, li code {
    font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace
}

/*
body > header h1 {
    font-size: 2.2em;
    font-family: "PT Serif", "Georgia", "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0.6667em
}

body > header h2 {
    font-family: "PT Serif", "Georgia", "Helvetica Neue", Arial, sans-serif
}

body {
    line-height: 1.5em;
    color: #222
}

h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizelegibility;
    margin-bottom: 1em;
    font-weight: bold
}

h1 {
    font-size: 2.2em;
    line-height: 1.2em
}

h2, section h1 {
    font-size: 1.5em
}

h3, section h2, section section h1 {
    font-size: 1.3em
}

h4, section h3, section section h2, section section section h1 {
    font-size: 1em
}

h5, section h4, section section h3 {
    font-size: 0.9em
}

h6, section h5, section section h4, section section section h3 {
    font-size: 0.8em
}

@media only screen and (min-width: 992px) {
    body {
        font-size: 1.15em
    }
}

p, blockquote, ul, ol {
    margin-bottom: 1.5em
}

ul {
    list-style-type: disc
}

ul ul {
    list-style-type: circle;
    margin-bottom: 0px
}

ul ul ul {
    list-style-type: square;
    margin-bottom: 0px
}

ol {
    list-style-type: decimal
}

ol ol {
    list-style-type: lower-alpha;
    margin-bottom: 0px
}

ol ol ol {
    list-style-type: lower-roman;
    margin-bottom: 0px
}

ul, ul ul, ul ol, ol, ol ul, ol ol {
    margin-left: 1.3em
}

strong {
    font-weight: bold
}

em {
    font-style: italic
}

sup, sub {
    vertical-align: baseline;
    font-size: 0.8em;
    position: relative
}

sup {
    top: -.5em
}

sub {
    bottom: -.5em
}

q {
    font-style: italic
}

q:before {
    content: "\201C"
}

q:after {
    content: "\201D"
}

em, dfn {
    font-style: italic
}

strong, dfn {
    font-weight: bold
}

del, s {
    text-decoration: line-through
}

abbr, acronym {
    border-bottom: 1px dotted;
    cursor: help
}

sub, sup {
    line-height: 0
}

hr {
    margin-bottom: 0.2em
}

small {
    font-size: .8em
}

big {
    font-size: 1.2em
}

blockquote {
    font-style: italic;
    position: relative;
    font-size: 1.2em;
    line-height: 1.5em;
    padding-left: 1em;
    border-left: 4px solid rgba(170, 170, 170, 0.5)
}

blockquote cite {
    font-style: italic
}

blockquote cite a {
    color: #aaa !important;
    word-wrap: break-word
}

blockquote cite:before {
    content: '\2014';
    padding-right: .3em;
    padding-left: .3em;
    color: #aaa
}

@media only screen and (min-width: 992px) {
    blockquote {
        padding-left: 1.5em;
        border-left-width: 4px
    }
}

.pullquote-right:before, .pullquote-left:before {
    padding: 0;
    border: none;
    content: attr(data-pullquote);
    float: right;
    width: 45%;
    margin: 0.5em 0 1em 1.5em;
    position: relative;
    top: 7px;
    font-size: 1.4em;
    line-height: 1.45em
}

.pullquote-left:before {
    float: left;
    margin: 0.5em 1.5em 1em 0
}

.force-wrap, article a, .sidebar a {
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word
}

.group, body > header, body > nav, body > footer, body #content > article, body #content > div > article, body #content > div > section, body div.pagination, aside.sidebar, #main, #content, .sidebar {
    *zoom: 1
}

.group:after, body > header:after, body > nav:after, body > footer:after, body #content > article:after, body #content > div > article:after, body #content > div > section:after, body div.pagination:after, #main:after, #content:after, .sidebar:after {
    content: "";
    display: table;
    clear: both
}

body {
    -webkit-text-size-adjust: none;
    max-width: 1000px;
    position: relative;
    margin: 0 auto
}

body > header, body > nav, body > footer, body #content > article, body #content > div > article, body #content > div > section {
    padding-left: 18px;
    padding-right: 18px
}

@media only screen and (min-width: 480px) {
    body > header, body > nav, body > footer, body #content > article, body #content > div > article, body #content > div > section {
        padding-left: 25px;
        padding-right: 25px
    }
}

@media only screen and (min-width: 768px) {
    body > header, body > nav, body > footer, body #content > article, body #content > div > article, body #content > div > section {
        padding-left: 35px;
        padding-right: 35px
    }
}

@media only screen and (min-width: 992px) {
    body > header, body > nav, body > footer, body #content > article, body #content > div > article, body #content > div > section {
        padding-left: 55px;
        padding-right: 55px
    }
}

body div.pagination {
    margin-left: 18px;
    margin-right: 18px
}

@media only screen and (min-width: 480px) {
    body div.pagination {
        margin-left: 25px;
        margin-right: 25px
    }
}

@media only screen and (min-width: 768px) {
    body div.pagination {
        margin-left: 35px;
        margin-right: 35px
    }
}

@media only screen and (min-width: 992px) {
    body div.pagination {
        margin-left: 55px;
        margin-right: 55px
    }
}

body > header {
    font-size: 1em;
    padding-top: 1.5em;
    padding-bottom: 1.5em
}

#content {
    overflow: hidden
}

#content > div, #content > article {
    width: 100%
}

aside.sidebar {
    float: none;
    padding: 0 18px 1px;
    background-color: #f3f5f8;
    border-top: 1px solid #dadde3
}

.flex-content, article img, article video, article .flash-video, .sidebar img {
    max-width: 100%;
    height: auto
}

.basic-alignment.left, article img.left, article video.left, article .left.flash-video, .sidebar img.left {
    float: left;
    margin-right: 1.5em
}

.basic-alignment.right, article img.right, article video.right, article .right.flash-video, .sidebar img.right {
    float: right;
    margin-left: 1.5em
}

.basic-alignment.center, article img.center, article video.center, article .center.flash-video, .sidebar img.center {
    display: block;
    margin: 0 auto 1.5em
}

.basic-alignment.left, article img.left, article video.left, article .left.flash-video, .sidebar img.left, .basic-alignment.right, article img.right, article video.right, article .right.flash-video, .sidebar img.right {
    margin-bottom: .8em
}

.toggle-sidebar, .no-sidebar .toggle-sidebar {
    display: none
}

@media only screen and (min-width: 750px) {
    body.sidebar-footer aside.sidebar {
        float: none;
        width: auto;
        clear: left;
        margin: 0;
        padding: 0 35px 1px;
        background-color: #f3f5f8;
        border-top: 1px solid #e6e8ec
    }

    body.sidebar-footer aside.sidebar section.odd, body.sidebar-footer aside.sidebar section.even {
        float: left;
        width: 48%
    }

    body.sidebar-footer aside.sidebar section.odd {
        margin-left: 0
    }

    body.sidebar-footer aside.sidebar section.even {
        margin-left: 4%
    }

    body.sidebar-footer aside.sidebar.thirds section {
        width: 30%;
        margin-left: 5%
    }

    body.sidebar-footer aside.sidebar.thirds section.first {
        margin-left: 0;
        clear: both
    }
}

body.sidebar-footer #content {
    margin-right: 0px
}

body.sidebar-footer .toggle-sidebar {
    display: none
}

@media only screen and (min-width: 550px) {
    body > header {
        font-size: 1em
    }
}

@media only screen and (min-width: 750px) {
    aside.sidebar {
        float: none;
        width: auto;
        clear: left;
        margin: 0;
        padding: 0 35px 1px;
        background-color: #f3f5f8;
        border-top: 1px solid #e6e8ec
    }

    aside.sidebar section.odd, aside.sidebar section.even {
        float: left;
        width: 48%
    }

    aside.sidebar section.odd {
        margin-left: 0
    }

    aside.sidebar section.even {
        margin-left: 4%
    }

    aside.sidebar.thirds section {
        width: 30%;
        margin-left: 5%
    }

    aside.sidebar.thirds section.first {
        margin-left: 0;
        clear: both
    }
}

@media only screen and (min-width: 768px) {
    body {
        -webkit-text-size-adjust: auto
    }

    body > header {
        font-size: 1.2em
    }

    #main {
        padding: 0;
        margin: 0 auto
    }

    #content {
        overflow: visible;
        margin-right: 240px;
        position: relative
    }

    .no-sidebar #content {
        margin-right: 0;
        border-right: 0
    }

    .collapse-sidebar #content {
        margin-right: 20px
    }

    #content > div, #content > article {
        padding-top: 17.5px;
        padding-bottom: 17.5px;
        float: left
    }

    aside.sidebar {
        width: 210px;
        padding: 0 15px 15px;
        background: none;
        clear: none;
        float: left;
        margin: 0 -100% 0 0
    }

    aside.sidebar section {
        width: auto;
        margin-left: 0
    }

    aside.sidebar section.odd, aside.sidebar section.even {
        float: none;
        width: auto;
        margin-left: 0
    }

    .collapse-sidebar aside.sidebar {
        float: none;
        width: auto;
        clear: left;
        margin: 0;
        padding: 0 35px 1px;
        background-color: #f3f5f8;
        border-top: 1px solid #e6e8ec
    }

    .collapse-sidebar aside.sidebar section.odd, .collapse-sidebar aside.sidebar section.even {
        float: left;
        width: 48%
    }

    .collapse-sidebar aside.sidebar section.odd {
        margin-left: 0
    }

    .collapse-sidebar aside.sidebar section.even {
        margin-left: 4%
    }

    .collapse-sidebar aside.sidebar.thirds section {
        width: 30%;
        margin-left: 5%
    }

    .collapse-sidebar aside.sidebar.thirds section.first {
        margin-left: 0;
        clear: both
    }
}

@media only screen and (min-width: 992px) {
    body > header {
        font-size: 1.3em
    }

    #content {
        margin-right: 300px
    }

    #content > div, #content > article {
        padding-top: 27.5px;
        padding-bottom: 27.5px
    }

    aside.sidebar {
        width: 260px;
        padding: 1.2em 20px 20px
    }

    .collapse-sidebar aside.sidebar {
        padding-left: 55px;
        padding-right: 55px
    }
}

@media only screen and (min-width: 768px) {
    ul, ol {
        margin-left: 0
    }
}

body > header {
    background: #263347
}

body > header h1 {
    display: inline-block;
    margin: 0
}

body > header h1 a, body > header h1 a:visited, body > header h1 a:hover {
    color: #f2f2f2;
    text-decoration: none
}

body > header h2 {
    margin: 0.2em 0 0;
    font-size: 1em;
    color: #bac7da;
    font-weight: normal
}

body > nav {
    position: relative;
    background-color: #c5dcbb;
    background: url('/images/noise.png?1420306322'), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dcead6), color-stop(50%, #c5dcbb), color-stop(100%, #a5c896));
    background: url('/images/noise.png?1420306322'), -webkit-linear-gradient(#dcead6, #c5dcbb, #a5c896);
    background: url('/images/noise.png?1420306322'), -moz-linear-gradient(#dcead6, #c5dcbb, #a5c896);
    background: url('/images/noise.png?1420306322'), -o-linear-gradient(#dcead6, #c5dcbb, #a5c896);
    background: url('/images/noise.png?1420306322'), linear-gradient(#dcead6, #c5dcbb, #a5c896);
    border-top: 1px solid #f0f6ed;
    border-bottom: 1px solid #7db067;
    padding-top: .35em;
    padding-bottom: .35em
}

body > nav form {
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    margin: 0;
    padding: 0
}

body > nav form .search {
    padding: 0.3em 0.5em 0;
    font-size: .85em;
    font-family: "PT Sans", "Helvetica Neue", Arial, sans-serif;
    line-height: 1.1em;
    width: 95%;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    border-radius: 0.5em;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-box-shadow: #cbdfc2 0 1px;
    -moz-box-shadow: #cbdfc2 0 1px;
    box-shadow: #cbdfc2 0 1px;
    background-color: #f0f6ed;
    border: 1px solid #a8ca9a;
    color: #888
}

body > nav form .search:focus {
    color: #444;
    border-color: #80b1df;
    -webkit-box-shadow: #80b1df 0 0 4px, #80b1df 0 0 3px inset;
    -moz-box-shadow: #80b1df 0 0 4px, #80b1df 0 0 3px inset;
    box-shadow: #80b1df 0 0 4px, #80b1df 0 0 3px inset;
    background-color: #fff;
    outline: none
}

body > nav fieldset[role=search] {
    float: right;
    width: 48%
}

body > nav fieldset.mobile-nav {
    float: left;
    width: 48%
}

body > nav fieldset.mobile-nav select {
    width: 100%;
    font-size: .8em;
    border: 1px solid #888
}

body > nav ul {
    display: none
}

@media only screen and (min-width: 550px) {
    body > nav {
        font-size: .9em
    }

    body > nav ul {
        margin: 0;
        padding: 0;
        border: 0;
        overflow: hidden;
        *zoom: 1;
        float: left;
        display: block;
        padding-top: .15em
    }

    body > nav ul li {
        list-style-image: none;
        list-style-type: none;
        margin-left: 0;
        white-space: nowrap;
        display: inline;
        float: left;
        padding-left: 0;
        padding-right: 0
    }

    body > nav ul li:first-child, body > nav ul li.first {
        padding-left: 0
    }

    body > nav ul li:last-child {
        padding-right: 0
    }

    body > nav ul li.last {
        padding-right: 0
    }

    body > nav ul.subscription {
        margin-left: .8em;
        float: right
    }

    body > nav ul.subscription li:last-child a {
        padding-right: 0
    }

    body > nav ul li {
        margin: 0
    }

    body > nav a {
        color: #5d8c49;
        font-family: "PT Sans", "Helvetica Neue", Arial, sans-serif;
        text-shadow: #e7f1e3 0 1px;
        float: left;
        text-decoration: none;
        font-size: 1.1em;
        padding: 0.1em 0;
        line-height: 1.5em
    }

    body > nav a:visited {
        color: #5d8c49
    }

    body > nav a:hover {
        color: #25381d
    }

    body > nav li + li {
        border-left: 1px solid #a5c896;
        margin-left: .8em
    }

    body > nav li + li a {
        padding-left: .8em;
        border-left: 1px solid #d9e8d3
    }

    body > nav form {
        float: right;
        text-align: left;
        padding-left: .8em;
        width: 175px
    }

    body > nav form .search {
        width: 93%;
        font-size: .95em;
        line-height: 1.2em
    }

    body > nav ul[data-subscription$=email] + form {
        width: 97px
    }

    body > nav ul[data-subscription$=email] + form .search {
        width: 91%
    }

    body > nav fieldset.mobile-nav {
        display: none
    }

    body > nav fieldset[role=search] {
        width: 99%
    }
}

@media only screen and (min-width: 992px) {
    body > nav form {
        width: 215px
    }

    body > nav ul[data-subscription$=email] + form {
        width: 147px
    }
}

.no-placeholder body > nav .search {
    background: #f0f6ed url('/images/search.png?1420306322') 0.3em 0.25em no-repeat;
    text-indent: 1.3em
}

@media only screen and (min-width: 550px) {
    .maskimage body > nav ul[data-subscription$=email] + form {
        width: 123px
    }
}

@media only screen and (min-width: 992px) {
    .maskimage body > nav ul[data-subscription$=email] + form {
        width: 173px
    }
}

.maskimage ul.subscription {
    position: relative;
    top: .2em
}

.maskimage ul.subscription li, .maskimage ul.subscription a {
    border: 0;
    padding: 0
}

.maskimage a[rel=subscribe-rss] {
    position: relative;
    top: 0px;
    text-indent: -999999em;
    background-color: #d9e8d3;
    border: 0;
    padding: 0
}

.maskimage a[rel=subscribe-rss], .maskimage a[rel=subscribe-rss]:after {
    -webkit-mask-image: url('/images/rss.png?1420306322');
    -moz-mask-image: url('/images/rss.png?1420306322');
    -ms-mask-image: url('/images/rss.png?1420306322');
    -o-mask-image: url('/images/rss.png?1420306322');
    mask-image: url('/images/rss.png?1420306322');
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    width: 22px;
    height: 22px
}

.maskimage a[rel=subscribe-rss]:after {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    background-color: #9fc590
}

.maskimage a[rel=subscribe-rss]:hover:after {
    background-color: #91bc7f
}

.maskimage a[rel=subscribe-email] {
    position: relative;
    top: 0px;
    text-indent: -999999em;
    background-color: #d9e8d3;
    border: 0;
    padding: 0
}

.maskimage a[rel=subscribe-email], .maskimage a[rel=subscribe-email]:after {
    -webkit-mask-image: url('/images/email.png?1420306322');
    -moz-mask-image: url('/images/email.png?1420306322');
    -ms-mask-image: url('/images/email.png?1420306322');
    -o-mask-image: url('/images/email.png?1420306322');
    mask-image: url('/images/email.png?1420306322');
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    width: 28px;
    height: 22px
}

.maskimage a[rel=subscribe-email]:after {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    background-color: #9fc590
}

.maskimage a[rel=subscribe-email]:hover:after {
    background-color: #91bc7f
}

#content .blog-index {
    padding-top: 0;
    padding-bottom: 0
}

#content .blog-index article {
    padding-top: 2em
}

article {
    padding-top: 1em
}

article header {
    position: relative;
    padding-top: 2em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') bottom left repeat-x
}

@media only screen and (min-width: 768px) {
    article header {
        margin-bottom: 1.5em;
        padding-bottom: 1em;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') bottom left repeat-x
    }
}

.blog-index article header {
    background: none;
    padding-bottom: 0
}

article header p {
    font-size: .8em;
    margin: 0;
    color: #aaa
}

article header p.meta {
    position: absolute;
    top: 0
}

article header time {
    text-transform: uppercase
}

article .entry-title {
    margin: 0
}

article .entry-title a {
    text-decoration: none
}

article .entry-title a:hover {
    text-decoration: underline
}

.blog-index article .entry-title {
    font-size: 2.2em
}

.blog-index article .entry-title a {
    color: inherit
}

.blog-index article .entry-title a:hover {
    color: #0181eb
}

article a[rel=bookmark] {
    text-decoration: none
}

article h2 {
    padding-top: 0.8em;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') top left repeat-x
}

article h2:first-child, article header + h2 {
    background: none
}

.entry-content article h2:first-child, article header + h2 {
    padding-top: 0
}

article.linklog .entry-title {
    font-size: 2.2em
}

article.linklog .entry-title a {
    text-decoration: underline
}

.blog-index article.linklog .entry-title {
    font-size: 1.5em
}

article .linklog-marker {
    color: #aaa;
    font-size: .8em;
    line-height: 1em;
    position: relative;
    top: -.15em
}

article > footer {
    padding-bottom: 2.5em;
    margin-top: 2em
}

.blog-index article > footer {
    margin-top: 1em
}

article footer .meta {
    margin-bottom: .8em;
    font-size: .85em;
    clear: both;
    overflow: hidden
}

article footer p:last-child {
    margin-bottom: 0
}

article footer .comments-link {
    font-size: .8em;
    color: inherit
}

article footer .comments-link:hover, article footer .comments-link:focus {
    color: #0181eb
}

article a[rel=full-article] {
    background: #ebebeb;
    display: inline-block;
    padding: 0.4em 0.8em;
    margin-right: .5em;
    text-decoration: none;
    color: #666;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s
}

article a[rel=full-article]:hover {
    background: #0181eb;
    text-shadow: none;
    color: #f8f8f8
}

.blog-index article + article {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') top left repeat-x
}

article .feature {
    padding-top: .5em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') bottom left repeat-x;
    font-size: 2.0em;
    font-style: italic;
    line-height: 1.3em
}

article img, article video, article .flash-video {
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    border-radius: 0.3em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: #fff 0.5em solid
}

article video, article .flash-video {
    margin: 0 auto 1.5em
}

article video {
    display: block;
    width: 100%
}

article .flash-video > div {
    position: relative;
    display: block;
    padding-bottom: 56.25%;
    padding-top: 1px;
    height: 0;
    overflow: hidden
}

article .flash-video > div iframe, article .flash-video > div object, article .flash-video > div embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.separator, article footer .byline + time:before, article footer time + time:before, article footer .comments:before, article footer .byline ~ .categories:before {
    content: "\2022 ";
    padding: 0 0.4em 0 0.2em;
    display: inline-block
}

#content div.pagination {
    text-align: center;
    font-size: .95em;
    position: relative;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') top left repeat-x;
    padding-top: 1.5em;
    padding-bottom: 1.5em
}

#content div.pagination a {
    text-decoration: none;
    color: #aaa
}

#content div.pagination a.prev {
    position: absolute;
    left: 0
}

#content div.pagination a.next {
    position: absolute;
    right: 0
}

#content div.pagination a:hover {
    color: #0181eb
}

#content div.pagination a[href*=archive]:before, #content div.pagination a[href*=archive]:after {
    content: '\2014';
    padding: 0 0.3em
}

.simple-social-button, .googleplus-share, .facebook-share, .twitter-share, .sidebar a.twitter-follow-button, .sidebar .github-follow {
    position: relative;
    overflow: hidden;
    font-family: "Lucida Grande", Helvetica, Arial, sans;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 0.2em 0.5em;
    line-height: 1.45em;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: #fff 0 1px;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    border-radius: 0.3em;
    background-color: #e5e5e5;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
    background-image: -webkit-linear-gradient(#ffffff, #dddddd);
    background-image: -moz-linear-gradient(#ffffff, #dddddd);
    background-image: -o-linear-gradient(#ffffff, #dddddd);
    background-image: linear-gradient(#ffffff, #dddddd)
}

.simple-social-button:hover, .googleplus-share:hover, .facebook-share:hover, .twitter-share:hover, .sidebar a.twitter-follow-button:hover, .sidebar .github-follow:hover {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #cccccc));
    background-image: -webkit-linear-gradient(#f5f5f5, #cccccc);
    background-image: -moz-linear-gradient(#f5f5f5, #cccccc);
    background-image: -o-linear-gradient(#f5f5f5, #cccccc);
    background-image: linear-gradient(#f5f5f5, #cccccc);
    border-color: #b5b5b5;
    background-color: #ddd
}

.simple-social-button:before, .googleplus-share:before, .facebook-share:before, .twitter-share:before, .sidebar a.twitter-follow-button:before, .sidebar .github-follow:before {
    content: "";
    display: inline-block
}

p.meta + .sharing {
    padding-top: 1em;
    padding-left: 0;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') top left repeat-x
}

#fb-root {
    display: none
}

.googleplus-share {
    color: #db583b;
    padding-left: 17px
}

.googleplus-share:visited, .googleplus-share:hover, .googleplus-share:visited:hover {
    color: #db583b
}

.googleplus-share:before {
    vertical-align: middle;
    position: absolute;
    left: 3px
}

.googleplus-share:before {
    top: 5px
}

.facebook-share {
    color: #4e5a9b;
    padding-left: 18px
}

.facebook-share:visited, .facebook-share:hover, .facebook-share:visited:hover {
    color: #4e5a9b
}

.facebook-share:before {
    vertical-align: middle;
    position: absolute;
    left: 3px
}

.facebook-share:before {
    top: 3px
}

.twitter-share, .sidebar a.twitter-follow-button {
    color: #333;
    padding-left: 20px
}

.twitter-share:visited, .twitter-share:hover, .twitter-share:visited:hover, .sidebar a.twitter-follow-button:visited, .sidebar a.twitter-follow-button:hover, .sidebar a.twitter-follow-button:visited:hover {
    color: #333
}

.twitter-share:before, .sidebar a.twitter-follow-button:before {
    vertical-align: middle;
    position: absolute;
    left: 3px
}

.sidebar .github-follow {
    color: #333;
    padding-left: 22px
}

.sidebar .github-follow:visited, .sidebar .github-follow:hover, .sidebar .github-follow:visited:hover {
    color: #333
}

.sidebar .github-follow:before {
    vertical-align: middle;
    position: absolute;
    left: 3px
}

p code, li code {
    display: inline-block;
    white-space: no-wrap;
    background: #fff;
    font-size: .8em;
    line-height: 1.5em;
    color: #555;
    border: 1px solid #ddd;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -ms-border-radius: 0.4em;
    -o-border-radius: 0.4em;
    border-radius: 0.4em;
    padding: 0 0.3em;
    margin: -1px 0
}
*/

p pre code, li pre code {
    font-size: 1em;
    background: none;
    border: none
}

pre {
    background: #fbfbfb url('/images/noise.png?1420306322') top left;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -ms-border-radius: 0.4em;
    -o-border-radius: 0.4em;
    border-radius: 0.4em;
    color: #586e75;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: auto;
    border: 1px solid #d8d8d8;
    margin-bottom: 2.1em;
    padding: 1em 0.8em;
    font-size: 13px;
    line-height: 1.45em
}

figure.code {
    -webkit-box-shadow: rgba(0, 0, 0, 0.06) 0 0 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.06) 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.06) 0 0 10px;
    background: none;
    padding: 0;
    border: 0;
    margin-bottom: 1.5em
}

figure.code pre {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: none;
    color: #586e75;
    border: none;
    padding: 0;
    margin-bottom: 0;
    overflow: visible;
    font-style: normal;
    font-weight: normal
}

figure.code figcaption {
    position: relative;
    text-align: center;
    font-size: 13px;
    line-height: 2em;
    font-weight: normal;
    margin-bottom: 0;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    font-family: "Helvetica Neue", Arial, "Lucida Grande", "Lucida Sans Unicode", Lucida, sans-serif;
    background-color: #aaaaaa;
    text-shadow: #fff 0 1px 0;
    color: #777;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(6%, #f0f0f0), color-stop(90%, #e5e5e5), color-stop(100%, #dddddd));
    background-image: -webkit-linear-gradient(#ffffff, #f0f0f0 6%, #e5e5e5 90%, #dddddd);
    background-image: -moz-linear-gradient(#ffffff, #f0f0f0 6%, #e5e5e5 90%, #dddddd);
    background-image: -o-linear-gradient(#ffffff, #f0f0f0 6%, #e5e5e5 90%, #dddddd);
    background-image: linear-gradient(#ffffff, #f0f0f0 6%, #e5e5e5 90%, #dddddd);
    border: 1px solid #c5c5c5;
    border-top-color: #d5d5d5;
    border-bottom: 0
}

figure.code figcaption a {
    position: absolute;
    right: .8em;
    text-decoration: none;
    color: inherit;
    z-index: 1;
    padding-left: 3em
}

figure.code figcaption a:hover {
    text-decoration: underline
}

figure.code .marked {
    position: relative;
    display: block
}

figure.code .marked:after {
    content: "";
    position: absolute;
    background: rgba(0, 186, 255, 0.03);
    left: -.8em;
    top: 0;
    bottom: 0;
    right: -.8em;
    border: 0px solid rgba(0, 186, 255, 0.13);
    border-left-color: rgba(0, 186, 255, 0.5)
}

figure.code .marked.start:after {
    border-top-width: 1px
}

figure.code .marked.end:after {
    border-bottom-width: 1px
}

figure.code .unnumbered .marked:after, figure.code .line-numbers .marked:after {
    border-left-width: 2px
}

figure .highlight {
    border: 1px solid #d8d8d8;
    background: #fbfbfb;
    overflow-y: hidden;
    overflow-x: auto
}

figure .highlight [data-line]:before {
    content: attr(data-line)
}

figure .highlight td {
    line-height: 1.45em;
    font-size: 13px
}

figure .highlight td pre {
    padding: .8em
}

figure .highlight .main {
    width: 100%;
    background: #fbfbfb url('/images/noise.png?1420306322') top left
}

figure .highlight .line-numbers {
    text-align: right;
    background: #fefefe url('/images/noise.png?1420306322') top left;
    border-right: 1px solid #e0e0e0;
    -webkit-box-shadow: #fff -1px 0 inset;
    -moz-box-shadow: #fff -1px 0 inset;
    box-shadow: #fff -1px 0 inset;
    text-shadow: #eaeaea 0 -1px
}

figure .highlight .line-numbers pre {
    color: #93a1a1
}

figure .highlight .c {
    color: #93a1a1;
    font-style: italic
}

figure .highlight .cm {
    color: #93a1a1;
    font-style: italic
}

figure .highlight .cp {
    color: #93a1a1;
    font-style: italic
}

figure .highlight .c1 {
    color: #93a1a1;
    font-style: italic
}

figure .highlight .cs {
    color: #93a1a1;
    font-weight: bold;
    font-style: italic
}

figure .highlight .err {
    color: #dc322f;
    background: none
}

figure .highlight .k {
    color: #cb4b16
}

figure .highlight .o {
    color: #586e75;
    font-weight: bold
}

figure .highlight .p {
    color: #586e75
}

figure .highlight .ow {
    color: #2aa198;
    font-weight: bold
}

figure .highlight .gd {
    color: #586e75;
    background-color: #f3c8c8;
    display: inline-block
}

figure .highlight .gd .x {
    color: #586e75;
    background-color: #f0b4b3;
    display: inline-block
}

figure .highlight .ge {
    color: #586e75;
    font-style: italic
}

figure .highlight .gh {
    color: #93a1a1
}

figure .highlight .gi {
    color: #586e75;
    background-color: #e3e7c8;
    display: inline-block
}

figure .highlight .gi .x {
    color: #586e75;
    background-color: #cbd396;
    display: inline-block
}

figure .highlight .gs {
    color: #586e75;
    font-weight: bold
}

figure .highlight .gu {
    color: #6c71c4
}

figure .highlight .kc {
    color: #859900;
    font-weight: bold
}

figure .highlight .kd {
    color: #268bd2
}

figure .highlight .kp {
    color: #cb4b16;
    font-weight: bold
}

figure .highlight .kr {
    color: #d33682;
    font-weight: bold
}

figure .highlight .kt {
    color: #2aa198
}

figure .highlight .n {
    color: #268bd2
}

figure .highlight .na {
    color: #268bd2
}

figure .highlight .nb {
    color: #859900
}

figure .highlight .nc {
    color: #d33682
}

figure .highlight .no {
    color: #b58900
}

figure .highlight .nl {
    color: #859900
}

figure .highlight .ne {
    color: #268bd2;
    font-weight: bold
}

figure .highlight .nf {
    color: #268bd2;
    font-weight: bold
}

figure .highlight .nn {
    color: #b58900
}

figure .highlight .nt {
    color: #268bd2;
    font-weight: bold
}

figure .highlight .nx {
    color: #b58900 !important
}

figure .highlight .vg {
    color: #268bd2
}

figure .highlight .vi {
    color: #268bd2
}

figure .highlight .nv {
    color: #268bd2
}

figure .highlight .mf {
    color: #2aa198
}

figure .highlight .m {
    color: #2aa198
}

figure .highlight .mh {
    color: #2aa198
}

figure .highlight .mi {
    color: #2aa198
}

figure .highlight .s {
    color: #2aa198
}

figure .highlight .sd {
    color: #2aa198
}

figure .highlight .s2 {
    color: #2aa198
}

figure .highlight .se {
    color: #dc322f
}

figure .highlight .si {
    color: #268bd2
}

figure .highlight .sr {
    color: #2aa198
}

figure .highlight .s1 {
    color: #2aa198
}

figure .highlight div .gd, figure .highlight div .gd .x, figure .highlight div .gi, figure .highlight div .gi .x {
    display: inline-block;
    width: 100%
}

pre::-webkit-scrollbar, figure .highlight::-webkit-scrollbar {
    height: .5em;
    background: rgba(0, 0, 0, 0.15)
}

pre::-webkit-scrollbar-thumb:horizontal, figure .highlight::-webkit-scrollbar-thumb:horizontal {
    background: rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    border-radius: 4px
}

/*
#archive #content > div, #archive #content > div > article {
    padding-top: 0
}

#blog-archives {
    color: #aaa
}

#blog-archives article {
    padding: 1em 0 1em;
    position: relative;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') bottom left repeat-x
}

#blog-archives article:last-child {
    background: none
}

#blog-archives article footer {
    padding: 0;
    margin: 0;
    font-size: .85em;
    line-height: 1em
}

#blog-archives h2 {
    display: none
}

#blog-archives .entry-title {
    color: #222;
    margin-bottom: .3em;
    font-size: 1.3em
}

#blog-archives .entry-title a {
    text-decoration: none;
    font-weight: normal;
    display: inline-block
}

#blog-archives .entry-title a:hover {
    text-decoration: underline
}

#blog-archives .entry-title a:hover {
    color: #0181eb
}

#blog-archives article[data-linklog] .entry-title {
    font-size: 1em
}

#blog-archives article[data-linklog] .entry-title a {
    text-decoration: underline
}

#blog-archives a.category, #blog-archives time {
    color: #aaa
}

#blog-archives .entry-content {
    display: none
}

#blog-archives time {
    font-size: .9em;
    line-height: 1.2em
}

#blog-archives time .month, #blog-archives time .day {
    display: inline-block
}

#blog-archives time .month {
    text-transform: uppercase
}

#blog-archives p {
    margin-bottom: 1em
}

#blog-archives a:hover {
    color: #0181eb
}

@media only screen and (min-width: 550px) {
    #blog-archives article {
        padding-left: 4.5em;
        padding-bottom: .7em;
        margin-left: 5em
    }

    #blog-archives h2 {
        margin-bottom: .3em;
        font-weight: normal;
        display: inline-block;
        position: relative;
        top: -1px;
        float: left
    }

    #blog-archives h2:first-child {
        padding-top: .75em
    }

    #blog-archives time {
        position: absolute;
        text-align: right;
        left: 0em;
        top: 1.8em
    }

    #blog-archives .year {
        display: none
    }

    #blog-archives a.category {
        line-height: 1.1em
    }
}

#content > .category article {
    margin-left: 0;
    padding-left: 6.8em
}

#content > .category .year {
    display: inline
}

.side-shadow-border, .sidebar section h1, .sidebar li {
    -webkit-box-shadow: #fdfdfe 0 1px;
    -moz-box-shadow: #fdfdfe 0 1px;
    box-shadow: #fdfdfe 0 1px
}

.sidebar {
    overflow: hidden;
    color: #424854;
    text-shadow: #fff 0 1px
}

.sidebar section {
    font-size: .8em;
    line-height: 1.4em;
    margin-bottom: 1.5em
}

.sidebar section h1 {
    margin: 1.5em 0 0;
    padding-bottom: .2em;
    border-bottom: 1px solid #dadde3
}

.sidebar section h1 + p {
    padding-top: .4em
}

.sidebar img {
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    border-radius: 0.3em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: #fff 0.3em solid
}

.sidebar ul {
    margin-bottom: 0.5em;
    margin-left: 0
}

.sidebar li {
    list-style: none;
    padding: 0.5em 0;
    margin: 0;
    border-bottom: 1px solid #dadde3
}

.sidebar li p:last-child {
    margin-bottom: 0
}

.sidebar a {
    color: inherit;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s
}

.sidebar:hover p a, .sidebar:hover li a {
    color: #466da6
}

.sidebar:hover p a:hover, .sidebar:hover li a:hover {
    color: #63a04a
}

.aside-alt-link, #tweets a[href*='twitter.com/search'], #pinboard_linkroll .pin-tag {
    color: #6f798d
}

.aside-alt-link:hover, #tweets a[href*='twitter.com/search']:hover, #pinboard_linkroll .pin-tag:hover {
    color: #63a04a
}

@media only screen and (min-width: 768px) {
    .toggle-sidebar {
        outline: none;
        position: absolute;
        right: -10px;
        top: 0;
        bottom: 0;
        display: inline-block;
        text-decoration: none;
        color: #cbcccf;
        width: 9px;
        cursor: pointer
    }

    .toggle-sidebar:hover {
        background: #e3e6eb;
        background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(218, 221, 227, 0.5)), color-stop(100%, rgba(218, 221, 227, 0)));
        background: -webkit-linear-gradient(left, rgba(218, 221, 227, 0.5), rgba(218, 221, 227, 0));
        background: -moz-linear-gradient(left, rgba(218, 221, 227, 0.5), rgba(218, 221, 227, 0));
        background: -o-linear-gradient(left, rgba(218, 221, 227, 0.5), rgba(218, 221, 227, 0));
        background: linear-gradient(left, rgba(218, 221, 227, 0.5), rgba(218, 221, 227, 0))
    }

    .toggle-sidebar:after {
        position: absolute;
        right: -11px;
        top: 0;
        width: 20px;
        font-size: 1.2em;
        line-height: 1.1em;
        padding-bottom: .15em;
        -moz-border-radius-bottomright: 0.3em;
        -webkit-border-bottom-right-radius: 0.3em;
        border-bottom-right-radius: 0.3em;
        text-align: center;
        background: #f8f8f8 url('/images/noise.png?1420306322') top left;
        border-bottom: 1px solid #dadde3;
        border-right: 1px solid #dadde3;
        content: "\00BB";
        text-indent: -1px
    }

    .collapse-sidebar .toggle-sidebar {
        text-indent: 0px;
        right: -20px;
        width: 19px
    }

    .collapse-sidebar .toggle-sidebar:hover {
        background: #e3e6eb
    }

    .collapse-sidebar .toggle-sidebar:after {
        border-left: 1px solid #dadde3;
        text-shadow: #fff 0 1px;
        content: "\00AB";
        left: 0px;
        right: 0;
        text-align: center;
        text-indent: 0;
        border: 0;
        border-right-width: 0;
        background: none
    }
}

#tweets .loading {
    color: #b5bed1;
    text-shadow: #f8f8f8 0 1px;
    text-align: center;
    padding: 0.5em 0
}

#tweets .loading:before {
    content: "";
    display: block;
    margin: 0 auto
}

.transform #tweets .loading.error {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-box-shadow: #fdfdfe 0 -1px;
    -moz-box-shadow: #fdfdfe 0 -1px;
    box-shadow: #fdfdfe 0 -1px;
    border-bottom: 0;
    border-top: 1px solid #dadde3
}

#tweets p {
    position: relative;
    padding-right: 1em
}

#tweets a[href*=status]:first-child {
    color: #9aa1af;
    float: right;
    padding: 0 0 0.1em 1em;
    position: relative;
    right: -1.3em;
    text-shadow: #fff 0 1px;
    font-size: .7em;
    text-decoration: none
}

#tweets a[href*=status]:first-child span {
    font-size: 1.5em
}

#tweets a[href*=status]:first-child:hover {
    color: #63a04a;
    text-decoration: none
}

#tweets a[href*='twitter.com/search'] {
    text-decoration: none
}

#tweets a[href*='twitter.com/search']:hover {
    text-decoration: underline
}

.googleplus h1 {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 0px none !important
}

.googleplus a {
    text-decoration: none;
    white-space: normal !important;
    line-height: 32px
}

.googleplus a img {
    float: left;
    margin-right: 0.5em;
    border: 0 none
}

.googleplus-hidden {
    position: absolute;
    top: -1000em;
    left: -1000em
}

#pinboard_linkroll .pin-title, #pinboard_linkroll .pin-description {
    display: block;
    margin-bottom: .5em
}

#pinboard_linkroll .pin-tag {
    text-decoration: none
}

#pinboard_linkroll .pin-tag:hover {
    text-decoration: underline
}

#pinboard_linkroll .pin-tag:after {
    content: ','
}

#pinboard_linkroll .pin-tag:last-child:after {
    content: ''
}

.delicious-posts a.delicious-link {
    margin-bottom: .5em;
    display: block
}

.delicious-posts p {
    font-size: 1em
}

body > footer {
    font-size: .8em;
    color: #888;
    text-shadow: #d9d9d9 0 1px;
    background-color: #ccc;
    background: url('/images/noise.png?1420306322'), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e0e0e0), color-stop(50%, #cccccc), color-stop(100%, #b0b0b0));
    background: url('/images/noise.png?1420306322'), -webkit-linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
    background: url('/images/noise.png?1420306322'), -moz-linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
    background: url('/images/noise.png?1420306322'), -o-linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
    background: url('/images/noise.png?1420306322'), linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
    border-top: 1px solid #f2f2f2;
    position: relative;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 3em;
    -moz-border-radius-bottomleft: 0.4em;
    -webkit-border-bottom-left-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    -moz-border-radius-bottomright: 0.4em;
    -webkit-border-bottom-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    z-index: 1
}

body > footer a {
    color: #6b6b6b
}

body > footer a:visited {
    color: #6b6b6b
}

body > footer a:hover {
    color: #484848
}

body > footer p:last-child {
    margin-bottom: 0
}

article li em {
    color: #666
}

@font-face {
    font-family: "Bebas-Neue";
    src: url('/fonts/bebasneue-web.eot');
    src: url('/fonts/bebasneue-web.eot?#iefix') format('eot'), url('/fonts/bebasneue-web.woff') format('woff'), url('/fonts/bebasneue-web.ttf') format('truetype'), url('/fonts/bebasneue-web.svg#BebasNeueRegular') format('svg')
}

body > header h1 {
    font-family: "Bebas-Neue", serif;
    text-transform: uppercase;
    font-weight: normal
}

body > header {
    font-size: .7em
}

body > header hgroup {
    text-align: center;
    position: relative;
    padding: 0.5em 0;
    margin: 0 auto
}

body > header h1 {
    text-shadow: rgba(0, 0, 0, 0.8) 0 0 8px;
    font-size: 7em;
    line-height: .8em;
    position: relative;
    padding-bottom: 1.75em;
    margin: 0
}

body > header h1 a:hover {
    color: #fff
}

body > header h1:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: .1em;
    height: 227px;
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('/images/logo.png?1420306322');
    background-repeat: no-repeat;
    background-position: 50% 50%
}

body > header h2 {
    font-size: 1.6em;
    position: relative;
    top: .4em
}

@media only screen and (min-width: 400px) {
    body > header {
        font-size: .82em
    }

    body > header hgroup {
        left: -3.7em;
        width: 22em
    }

    body > header h1 {
        padding-bottom: 0
    }

    body > header h1:after {
        position: absolute;
        top: -.15em;
        right: -.8em;
        left: auto;
        width: 1.6em;
        height: 1.6em;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%
    }

    body > header h2 {
        margin: 0 0 0.3em;
        font-family: "PT Sans", "Helvetica Neue", Arial, sans-serif;
        font-size: 1.2em;
        color: #bac7da;
        position: relative;
        left: -1.6em;
        top: 0;
        text-shadow: #263347 0 1px 1px
    }
}

@media only screen and (min-width: 480px) {
    body > header {
        font-size: .98em
    }

    body > header h2 {
        top: .4em
    }
}

@media only screen and (min-width: 768px) {
    body > header {
        padding: 2em 0 1.5;
        font-size: 1.2em
    }

    body > header hgroup {
        padding: 0 0 1em
    }
}

@media only screen and (min-width: 990px) {
    body > header {
        font-size: 1.1em
    }

    body > header h1:after {
        width: 227px;
        height: 227px
    }
}
*/
