---
title: Steven Shaw
---

<!-- FIX remove this comment 123 -->
<header class="container-fluid page-header">
  <h1>Welcome</h1>
</header>

<div class="content">

  <div style="float: left;">
    <p>I'm Steven Shaw, a software developer living in Brisbane, Australia.</p>

    <blockquote class="quote">
      <p>The future of programming is dependently typed
      <small><cite>Anon.</cite></small>
      </p>
    </blockquote>

    <h4>Recent posts</h4>
    $partial("templates/post-list.html")$

    <small class="text-muted"><a href="all-posts">All posts</a></small>
  </div>

  <div class="featured-languages pull-right">
    <div>
      <a class="pull-right" href="https://haskell.org" title="Haskell">
        <img src="/images/haskell.png"/>
      </a>
    </div>
    <div>
      <a class="pull-right" href="http://idris-lang.org" title="Idris">
        <img src="/images/idris.png"/>
      </a>
    </div>
    <div>
      <a class="pull-right" href="http://purescript.org" title="PureScript">
        <img src="/images/purescript.png"/>
      </a>
    </div>
    <div>
      <a class="pull-right" href="http://scala-lang.org" title="Scala">
        <img src="/images/scala.png"/>
      </a>
    </div>
  </div>

</div>
