<header class="page-header">
  <div class="cross-posted-to-medium">
    <a class="btn btn-default">
      <i class="fa fa-medium"></i> Cross-posted to Medium
    </a>
  </div>
  <div class="header-image-bg">
    <div class="post-header">
      <div class="post-header-content">
        <h1 class="post-title">$title$</h1>
        $if(subtitle)$
          <h4 class="post-subtitle">$subtitle$</h4>
        $endif$
        <h4 class="post-date"><small><time class="timeago" datetime="$date$" pubdate>$date$</time></small></h4>
      </div>
    </div>
  </div>
</header>

<div class="post-content">
  $body$
</div>

<div class="post-footer">
  $if(tags)$
  <div class="post-footer-row">
    <div class="tags">
      <i class="fa fa-tags"></i> $tags$
    </div>
  </div>
  <div class="clear"></div>
  $endif$

  <div class="post-footer-row">
    <div class="post-nav">
      $if(olderPostUrl)$
      <a class="btn btn-default" href="$olderPostUrl$" style="float: left;"><i class="fa fa-chevron-left"></i> Prev</a>
      $endif$
      $if(newerPostUrl)$
      <a class="btn btn-default" href="$newerPostUrl$" style="float: right;">Next <i class="fa fa-chevron-right"></i></a>
      $endif$
    </div>
  </div>
  <div class="clear"></div>
</div>

<!-- <div id="disqus_thread" class="post-aside comments hidden-phone"></div> -->
<div id="disqus_thread" class="post-aside comments"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'steshaw'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
